.chat-background,
.chat-background .status-bar,
.chat-background .alt-header {
  background-color: #abc1d1;
}
.chat-background #top-padding {
  height: 90px;
}

.chat-screen {
  padding: 26px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  opacity: 0.7;
  background-color: #92a4b2;
  padding: 9px 17px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 300;
}