.chat-background,
.chat-background .status-bar,
.chat-background .alt-header {
  background-color: #abc1d1;
}
.chat-background #top-padding {
  height: 90px;
}

.chat-screen {
  padding: 26px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  opacity: 0.7;
  background-color: #92a4b2;
  padding: 9px 17px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.6;
  font-size: 17px;
  margin-bottom: 9px;
  margin-top: 3px;
  display: block;
}
.message__info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 14px 17px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 6px;
  font-size: 22px;
}
.message__time {
  opacity: 0.6;
  font-size: 15px;
}
.message-row:not(:last-child) {
  margin-bottom: 23px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 6px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}
.reply .reply__column:first-child {
  width: 10%;
  position: relative;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
  font-size: 25px;
}
.reply__column button i {
  opacity: 1;
  font-size: 27px;
}
.reply input {
  padding: 10.5px 3.0%;
  margin: 0.22% 0 0.22% 0.44%;
  height: 30px;
  width: 94%;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #F7F7F7;
  font-size: 22px;
}
.reply__column:first-child > i {
  font-size: 40px;
  position: absolute;
  right: 36%;
  top: -1px;
}
.reply__column:last-child > i {
  font-size: 31px;
  position: absolute;
  right: 17%;
  top: 27px;
}
.reply__column:last-child button {
  position: absolute;
  right: -0%;
  top: 4px;
  background-color: var(--yellow);
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

@keyframes fadeInLeftToRight {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInRightToLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  animation: fadeInLeftToRight 0.5s;
}
.message-row--own {
  animation: fadeInRightToLeft 0.5s;
} 

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0; 
  visibility: hidden;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: all 0.3s ease-in-out;
}

.reply:focus-within input {
  width: 110%;
  transform: translateX(-12%) translateY(-250px);
}
.reply input {
  transition: all 0.3s ease-in-out;
}

.reply:focus-within {
  transform: translateY(250px);
}
.reply {
  transition: all 0.3s ease-in-out;
}