.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.empty-badge {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  position: absolute;
}
.screen-header__icons__icon .empty-badge {
  left: -6px;
  bottom: 20px;
}
.nav__btn .empty-badge {
  left: 28px;
  bottom: 28px;
}