.icon-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: top;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.icon-row__icon i {
  font-size: 35px;
  margin: 22px 0px;
}
.icon-row__icon span {
  font-size: 20px;
}